/* ==========================================================================
   #HEADINGS
   ========================================================================== */





.c-heading-primary {
  color: var(--white);
  text-transform: uppercase;
}

.c-heading-primary__main,
.c-heading-primary__sub {
  display: block;
}

.c-heading-primary__main {
  font-size: 3.75rem;
  font-weight: 400;
  letter-spacing: 2.1875rem;
}

.c-heading-primary__sub {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 1.0875rem;
}





.c-heading-secondary {
 font-size: 2.1875rem;
 text-transform: uppercase; 
 font-weight: 700;
 background-image: linear-gradient(to right, var(--color-primary-highlight), var(--color-primary-shadow));
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s ;
}

.c-heading-secondary:hover {
  transform: skewY(2deg);
}





.c-heading-tertiary {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}
















