/* ==========================================================================
   #LOGO
   ========================================================================== */




.c-logo {
  position: absolute;
  top: var(--global-spacing-unit);
  left: var(--global-spacing-unit);;
}

.c-logo__img {
  height: 2.1875rem;
}