/* ==========================================================================
   #STORY
   ========================================================================== */






.c-story {
  padding: 4rem;
  box-shadow: var(--global-box-shadow);
  width: 75%;
  margin: 0 auto;
  transform: skewX(-12deg);
  background: rgb(255 255 255 / 60%);
}

.c-story > * {
  transform: skewX(12deg);
}


.c-story__shape {
  width: 9.375rem;
  height: 9.375rem;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  clip-path:  circle(50% at 50% 50%);
  transform: translateX(-1.875rem) skewX(12deg);
  position: relative;
}

.c-story__img {
  height: 100%;
  object-fit: cover;
  transform: scale(1.4);
  transition: var(--global-transition);
}


.c-story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  color: var(--white);
  text-transform: uppercase;
  font-size: 1.0625rem;
  text-align: center;
  opacity: 0;
  transition: var(--global-transition);
  backface-visibility: hidden;
}


.c-story:hover .c-story__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}


.c-story:hover .c-story__img {
  transform: scale(1);
  filter: blur(3px) brightness(80%);
}


.c-stories__video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: .15;
  z-index: -1;
}

.o-section--stories {
  position: relative;
}

.video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}