/* ==========================================================================
   #COMPOSITION
   ========================================================================== */





.c-composition {
  position: relative;
}

.c-composition:hover .c-composition__photo:not(:hover) {
  transform: scale(.95);
}

.c-composition__photo {
  position: absolute;
  width: 55%;
  box-shadow: 0 .9375rem 2.5rem rgba(0, 0, 0, .4);
  border-radius: var(--global-radius);
  transition: var(--global-transition);
  z-index: 10;
}

.c-composition__photo:hover {
  transform: scale(1.05) translateY(5px);
  box-shadow: 0 1.5625rem 2.5rem rgba(0, 0, 0, .4);
  z-index: 15;
  outline: .9375rem solid var(--color-primary);
  outline-offset: 1.25rem;
}

.c-composition__photo--1 {
  left: 0;
  top: -1.25rem;
}
.c-composition__photo--2 {
  right: 0;
  top: 1.25rem;
}
.c-composition__photo--3 {
  left: 20%;
  top: 6.25rem;
}


