/* ==========================================================================
   #FEATURE
   ========================================================================== */








.c-section--feature {
  background-image: linear-gradient(
                    to right bottom, 
                    rgba(var(--rgb-color-primary-highlight), .8),
                    rgba(var(--rgb-color-primary-shadow), .8)), 
                    url(../../../img/nat-4.jpg);
  background-size: cover;
  background-position: center;
  transform: skewY(-7deg);
  margin-top: -6.25rem;
}

.c-section--feature > * {
  transform: skewY(7deg);
}

.c-feature {
  background-color: rgba(255, 255, 255, .8);
  font-size: .9375rem;
  text-align: center;
  border-radius: var(--global-radius);
  box-shadow: var(--global-box-shadow-sm);
  transition:  var(--global-transition);

}


.c-feature:hover {
  transform: translateY(-0.625rem) scale(1.01);
}


.c-feature__icon {
  font-size: 3.5rem;
  margin-bottom: .625rem;
  background-image: linear-gradient(red, blue);
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, var(--color-primary-highlight), var(--color-primary-shadow));
  color: transparent;
}

